* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px
}

.common-button {
    background-color: #1D4ED8;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 12px;
    margin: auto;
    border: none;
    cursor: pointer;

}

.container {
    max-width: 1200px;
    margin: auto;
}

li a {
    color: #575757;
    text-decoration: none;
}

.banner-style {

    width: 100%;
    height: 786px;
    background-image: url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .55);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.overlay h2 {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.overlay p {
    color: white;
    font-size: 22px;
    width: 700px;
}

.speakers h2 {
    margin-top: 20px;
    text-align: center;
    color: #000102;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.speaker-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

}

.individual-card {

    border: 1px solid #e5e5e5;
    border-radius: 10px;
    overflow: hidden;
    background: white;

}

.individual-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;

}

.card-details h5 {
    color: #2d5cff;
    font-size: 11px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.card-details h3 {
    font-size: 24px;
    margin-bottom: 10px;

}

.card-details p {
    color: #777;
    font-size: 15px;
}

.price h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 15px;
}

.price-short-title {
    text-align: center;
    color: #777;
    margin-bottom: 60px;

}

.price-container {
    display: flex;
    justify-content: center;
    gap: 30px;

}


.price-card {

    flex: 1;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 30px;
    background: white;

}

.price-card h5 {
    color: #777;
    font-size: 12px;
    margin-bottom: 10px;

}

.price-card h3 {
    font-size: 30px;
    margin-bottom: 5px;
}

.price-card span {
    color: #888;
    font-size: 14px;
}

.price-card hr {

    margin: 25px 0;
    border: none;
    border-top: 1px solid #eee;

}

.price-card ul {
    padding-left: 20px;
}

.price-card li {
    margin-bottom: 15px;
    color: #555;
    font-size: 15px;
    list-style: circle;
}

.price-card button {

    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid #2f5cff;
    background: white;
    color: #2f5cff;
    cursor: pointer;
    font-weight: bold;
}

.pro {
    background: #08192f;
    color: white;
}

.pro hr {
    border-top: 1px solid rgba(255, 255, 255, .2);
}

.pro button {

    background: #2f5cff;
    color: white;
    border: none;

}

footer{

    background:#08192f;
    color:white;
    padding:60px 80px 30px;

}

footer-design{
    max-width: 1200px;
    margin: auto;
}